{{!-- {{#if post.comments}} --}}
<div>

  <h3 id="anchor-comments">Comments:</h3>
  {{#each this }}
  <div class="card">
    <div class="row mb-4 comment">

      <div class="col-md-5">
        <h2>
          <a href="/comment/{{comment.id}}"></a>
        </h2>
        <p>Created by: {{user.username}}</p>
      </div>

      <div class="col-md-7">
        <p>
          {{comment_body}}
        </p>
      </div>

      {{#if (eq comment.user_id req.session.id)}}
      <a href="/profile/editComment/{{comment.id}}" class="edit-comment">Edit Your Comment</a>
        <button type="delete" class="delete-comment-btn {{comment.id}}" data-id="{{comment.id}}">Delete This Comment</button>
      {{/if}}

    </div>
  </div>

</div>
{{/each}}
{{!-- {{/if}} --}}

{{!-- <div class="comments">
  {{#each this}}
  <div class="comment">
    <div class="meta">
      {{user.username}}
    </div>
    <div class="comment_body">
      <p{{comment.comment_body}}></p>
    </div>
  </div>
  {{/each}}
</div> --}}

{{!-- {{#if post.comments}}
<div>

  <h3>Comments:</h3>
  {{#each post.comments as |comment| }}

  <div class="row mb-4 comment">

    <div class="col-md-5">
      <h2>
        <a href="/comment/{{comment.id}}"></a>
      </h2>
      <p>Created by: {{comment.user.username}}</p>
    </div>

    <div class="col-md-7">
      <p>
        {{comment.comment_body}}
      </p>
    </div>

    <a href="/profile/editComment/{{comment.id}}" class="edit-comment">Edit Your Comment</a>
    <button type="delete" class="delete-comment-btn">Delete This Comment</button>

  </div>

</div>
{{/each}}
{{/if}} --}}