<div class="post">
  <div class="title">
    <span><a href=`/post/{{post.id}}`>{{post.title}}</a></span><span class="float-right">Posted by: {{user.username}}</span>
    <br>
    <span class="float-right">{{comments.length}}</span>
  </div>
  <div class="post-body">
    <p>{{post.post_body}}</p>
  </div>
</div>