 <div class="post">
  <div class="title">
    <a href="/post/{{post.id}}">{{post.title}}</a>
    <span class="float-right">Posted by: {{user.username}}</span>
    <br>
    <span class="float-right">Comments: {{comments.length}}</span>
    <br>
    <span class="float-right">Body: {{post.post_body}}</span>
  </div>
  <div class="post-body">
    <p>{{post.post_body}}</p>
  </div>
</div>