<section id="vendor-info-header" class="section-label">

  <h3>Vendor Info</h3>
  <div id="vendor-name"></div>
  
</section>

<section id="vendor-info-section" class="info-section">

  <article class="card card-main zoom">
    <div id="food-type"></div>
    <div class="img-text">
      <h4>Vendor Menu</h4>
      <p>enjoy the different foods</p>
    </div>
  </article>

  <article class="card card-alt zoom">
    <div id="vendor-description-card"></div>
    <div class="img-text">
      <h4>Vendor Description</h4>
      <p>stuff about the park</p>
    </div>
  </article>

  <article class="card card-alt zoom">
    <div id="vendor-weather-card"></div>
    <div class="img-text">
      <h4>Rating</h4>
      <p>what people think about the food</p>
    </div>
  </article>

  <article class="card card-alt zoom">
    <div id="vendor-directions-card"></div>
    <div class="img-text">
      <h4>Directions</h4>
      <p>where to find the vendor</p>
    </div>
  </article>

  <article class="card card-alt zoom">
    <div id="vendor-hours-card"></div>
    <div class="img-text">
      <h4>Hours</h4>
      <p>hours of operation</p>
    </div>
  </article>

  <article class="card card-alt zoom">
    <div id="vendor-contact-card"></div>
    <div class="img-text">
      <h4>Contact</h4>
      <p>contact info for the vendor</p>
    </div>
  </article>

</section>

<aside>
  <h2>We can put the map here, and it only appear when the user is on the food find section.</h2>
</aside>

{{#each posts as |post| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      {{{get_img}}}
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by: {{user.username}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.post_body}}
    </p>
  </div>
</div>
{{/each}}