<aside>
  <h2>We can put the map here, and it only appear when the user is on the food find section.</h2>
</aside>

{{#each posts as |post| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      {{{get_img}}}
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by {{post.user_id}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.post_body}}
    </p>
  </div>
</div>
{{/each}}