<div class="main-content" id="main">

  {{!-- WELCOME SECTION --}}
  <section class="section-label about-site-header opacity" style="background: rgba(251,251,251, 0.50); border-radius: 1rem; box-shadow: .1em .1em 0 0 #424242; ">
    <div class="opacity-text">
    <h3>Welcome!</h3>
    </div>
  </section>

  <section id="about-site" class="about-site-section opacity" style="background: rgba(251,251,251, 0.50); border-radius: 1rem; box-shadow: .1em .1em 0 0 #424242;">
    <p id="greetings">
      Known for it's respected universities and exciting sports teams, Boston is the beating heart of Massachusetts.  The city is one of the oldest and most storied in the country, with the Freedom Trail offering
      people the ability to experience so many amazing historic locations.  Indeed, Boston is an amazing city to walk around, so it goes without saying that along it's beautiful streets, a vibrant and diverse community 
      of street food vendors has built up over the years.  With so many different options, we have no doubt you'll be able to find the rightone for you!  On this site, you can search for different vendors and get to 
      know them a little bit before you take to the streets!!
    </p>
    <p>
      For registered members of our site, you can post your thoughts about different places and talk with each other!
    </p>

  </section>
  
  {{!-- VENDOR INFO SECTION --}}
  <section id="vendor-info-header" class="section-label opacity">

    {{!-- <h3>Vendor Name</h3> --}}
      <div class="col s4">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">Find some Street Meat!</button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><button class="dropdown-item" id="Chicken & Rice Guys" type="button">Chicken &amp; Rice Guys</button></li>
            <li><button class="dropdown-item" id="Chicken & Rice Guys 2" type="button">Chicken &amp; Rice Guys 2</button></li>
            <li><button class="dropdown-item" id="Chicken & Rice Guys 3" type="button">Chicken &amp; Rice Guys 3</button></li>
            <li><button class="dropdown-item" id="Chicken & Rice Guys 4" type="button">Chicken &amp; Rice Guys 4</button></li>
            <li><button class="dropdown-item" id="The Cod Squad" type="button">The Cod Squad</button></li>
            <li><button class="dropdown-item" id="Cookie Monstah" type="button">Cookie Monstah</button></li>
            <li><button class="dropdown-item" id="Friends 4 OBA" type="button">Friends 4 OBA</button></li>
            <li><button class="dropdown-item" id="Papi's Stuffed Sopapillas" type="button">Papi's Stuffed Sopapillas</button></li>
            <li><button class="dropdown-item" id="Roxy's Grilled Cheese" type="button">Roxy's Grilled Cheese</button></li>
            <li><button class="dropdown-item" id="The Whoopie Wagon" type="button">The Whoopie Wagon</button></li>
            <li><button class="dropdown-item" id="Tres Latinas" type="button">Tres Latinas</button></li>
            <li><button class="dropdown-item" id="Vaz &#38; Mac Tex-Mex" type="button">Vaz &#38; Mac Tex-Mex</button></li>
          </ul>
        </div>
      </div>

  </section>

  <section id="vendor-info-section" class="info-section opacity" style="background: rgba(251,251,251, 0.50);">


    <article class="card vendor-name zoom">
      <div id="vendor-name"></div>
      <div class="img-text">
        <h4>Vendor Name</h4>
        {{!-- <p>enjoy the different foods</p> --}}
      </div>
    </article>

    <article class="card card-main zoom">
      <div id="vendor-description-card"></div>
      <div class="img-text">
        <h4>Vendor Description</h4>
        {{!-- <p>stuff about the park</p> --}}
      </div>
    </article>

    <article class="card card-alt zoom">
      <div id="vendor-weather-card"></div>
      <div class="img-text">
        <h4>Rating</h4>
        {{!-- <p>Number of Ratings</p> --}}
      </div>
    </article>

    <article class="card card-alt zoom">
      <div id="vendor-directions-card"></div>
      <div class="img-text">
        <h4>Directions</h4>
        {{!-- <p>where to find the vendor</p> --}}
      </div>
    </article>

    <article class="card card-alt zoom">
      <div id="vendor-hours-card"></div>
      <div class="img-text">
        <h4>Hours</h4>
        {{!-- <p>hours of operation</p> --}}
      </div>
    </article>

    <article class="card card-alt zoom">
      <div id="vendor-contact-card"></div>
      <div class="img-text">
        <h4>Contact</h4>
        {{!-- <p>contact info for the vendor</p> --}}
      </div>
    </article>

  </section>

  {{!-- GOOGLE MAP SECTION --}}
  <section class="section-label map-header opacity">
    <h3>Google Map</h3>
  </section>

  <section class="map-section opacity">
    <div id="map"></div>
  </section>

  {{!-- POST SECTION --}}
  <section class="section-label post-header opacity">
    <h3>Post Section</h3>
  </section>

  <section class="post-section opacity">
    {{#each posts as |post| }}
    <div class="row mb-4 post">
      <div class="col-md-5">
        <h2>
          {{{get_img}}}
          <a href="/post/{{post.id}}">{{post.title}}</a>
        </h2>
        <p>Created by: {{user.username}}</p>
      </div>
      <div class="col-md-7">
        <p>
          {{post.post_body}}
        </p>
      </div>
    </div>
    {{/each}}
  </section>

</div>