<figure>
  <img src="/images/nyc-panorama.jpg" alt="A panorama image of New York City."/>
</figure>
    
<p>This is the profile page.</p>

<div class="row">
  <div class="column">
    <h3>Create a Post</h3>

    <form class="new-post-form">

      <div>
        <label for="post-title">Post Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>

      <div>
        <label for="post-body">Post Body</label>
        <textarea type="text" id="post-body" name="post-body"></textarea>
      </div>

      <button type="submit" class="btn">Create Post</button>

    </form>
  </div>
</div>

<div>
  <h2>Your Profile</h2>
  {{> userData}}
</div>

{{#if posts}}
<div>

  <h3>Your Posts:</h3>
  {{#each posts as |post| }}

  <div class="row mb-4 project">

    <div class="col-md-5">
      <h2>
        {{{get_img}}}
        <a href="/post/{{post.id}}">{{post.title}}</a>
      </h2>
      <p>Created by: {{user.username}}</p>
    </div>

    <div class="col-md-7">
      <p>
        {{post.post_body}}
      </p>
    </div>

    <a href=`/editUser/{{post.id}}` class="edit-post">Edit Your Post</a>

  </div>

</div>
{{/each}}
{{/if}}

<script src="/js/newPost.js"></script>